@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="telayar"><span class="  glyphicon glyphicon-user isim"> Ceylan ÇAKMAR</span></a>
            <a class="telayar"><span class="glyphicon glyphicon-earphone telayar"> 0505-385-12-11</span></a>
            <a class="telayar"><span class="glyphicon glyphicon-envelope mailayar"> cakmarceylan@gmail.com</span></a>
            <a class="telayar"><span class=" glyphicon glyphicon-home adresayar"> EskikonakKöyü/Patnos/AĞRI </span></a>
        </div>
    </div>
</div>